<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{yyyy-MM-dd HH:mm:ss.SSS}) %white([%thread]) %highlight(%-5level) %green(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- POI packages -->
    <logger name="org.apache.poi" level="INFO" />
    <logger name="org.apache.poi.openxml4j" level="DEBUG" />
    <logger name="org.apache.poi.poifs" level="DEBUG" />
    <logger name="org.apache.xmlbeans" level="WARN" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.ecsail.Halyard" level="info" />
</configuration>